/* ===================== */
/* ETAPA 1 */
/* ===================== */
.page {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  margin-bottom: 50px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header__logo {
  width: 50px;
  width: 55px;
  margin: 0;
}
.nav {
  display: flex;
  justify-content: flex-end;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}
.nav__link {
  font-style: none;
}
.nav__logo {
  font-style: none;
}
.header__link {
  font-family: arial, sans-serif;
  position: relative;
  text-decoration: none;
  color: #444444;
  font-size: 1rem;
  padding: 5px 0;
  transition: color 0.3s ease;
  font-weight: bold;
}

.header__link:hover {
  color: #256dbe;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  height: 500px;
  flex-grow: 1;
}

.header__title {
  font-family: arial, sans-serif;
  font-size: 46px;
  max-width: 600px;
  line-height: 56px;
}

.header__description {
  font-family: arial, sans-serif;
  font-size: 1.25rem;
  color: #5a5a5a;
  margin-top: 15px;
  line-height: 1.6;
}

.header__image {
  width: 100%;
  max-width: 636px;
  display: block;
  margin: 40px auto;
}

.header__footer {
  font-family: arial, sans-serif;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
.header__address {
  margin: 0;
  color: #838383;
  font-family: arial, sans-serif;
}

/* ===================== */
/* ETAPA 2 */
/* ===================== */

.content {
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 1300px;
}
.staff {
  margin: auto;
  background-image: url("../images/staff_picks_background.jpg");
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 80px;
}

.staff__header {
  text-align: center;
}

.staff__title {
  font-family: arial, sans-serif;
  font-size: 2.5rem;
  color: aliceblue;
  margin-bottom: 10px;
}
.staff__subtitle {
  font-family: arial, sans-serif;
  font-size: 1rem;
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 80px;
  font-weight: normal;
}

.staff__cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.card {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 420px;
  width: 360px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
  background-color: aliceblue;
}
.card__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__title {
  font-family: arial, sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
}

.card__text {
  flex-grow: 1;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: arial, sans-serif;
}

.card__footer {
  font-size: 15px;
  font-weight: bold;
  opacity: 0.8;
  font-family: arial, sans-serif;
  color: #5f5f5f;
  font-style: italic;
  font-weight: lighter;
}

/* ===================== */
/* ETAPA 3 */
/* ===================== */

.events {
  padding: 100px 0 120px 80px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.events__content {
  flex-basis: 580px;
}

.events__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 32px 0 0;
}

.events__info-section {
  margin-top: 32px;
}

.event-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 500;
}

.event-info__icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.event-info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__description {
  margin: 40px 0 60px;
}

.events__more {
  color: #2f80ed;
  text-decoration: none;
}

.events__cover {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 780px;
  max-width: 780px;
  position: relative;
}

.events__image {
  max-width: 100%;
}

.person {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.person_name_feynman {
  top: -30px;
  left: 319px;
}

.person_name_burbidge {
  top: 96px;
  right: 125px;
}

.person_name_cannon {
  bottom: 18px;
  right: 216px;
}

.person_name_mitchell {
  bottom: 82px;
  left: 142px;
}

.person_name_tarter {
  top: 89px;
  left: 159px;
}

.person__image {
  max-width: 100%;
}

.person__image_size_l {
  width: 140px;
}

.person__image_size_m {
  width: 100px;
}

.person__image_size_s {
  width: 80px;
}

.person__caption {
  text-align: center;
  font-size: 14px;
  margin: 0;
  font-family: arial, sans-serif;
}
